---
- name: Deploy Portfolio Application
  hosts: webservers
  become: yes
  gather_facts: yes

  vars:
    app_dir: /home/ec2-user/app
    domain_name: inamulhaq.dev

  tasks:
    - name: Copy docker-compose.yml to EC2
      copy:
        src: ../../docker-compose.yml
        dest: "{{ app_dir }}/docker-compose.yml"
        owner: ec2-user
        group: ec2-user
        mode: '0644'

    - name: Copy docker directory to EC2
      copy:
        src: ../../docker/
        dest: "{{ app_dir }}/docker/"
        owner: ec2-user
        group: ec2-user
        mode: '0644'

    - name: Copy monitoring configs to EC2
      copy:
        src: ../../monitoring/
        dest: "{{ app_dir }}/monitoring/"
        owner: ec2-user
        group: ec2-user
        mode: '0644'

    - name: Copy application source code
      synchronize:
        src: ../../src/
        dest: "{{ app_dir }}/src/"
        rsync_opts:
          - "--exclude=node_modules"

    - name: Copy public directory
      synchronize:
        src: ../../public/
        dest: "{{ app_dir }}/public/"

    - name: Copy package files
      copy:
        src: "{{ item }}"
        dest: "{{ app_dir }}/{{ item | basename }}"
        owner: ec2-user
        group: ec2-user
        mode: '0644'
      loop:
        - ../../package.json
        - ../../package-lock.json
        - ../../vite.config.ts
        - ../../tsconfig.json
        - ../../tsconfig.app.json
        - ../../tsconfig.node.json
        - ../../tailwind.config.js
        - ../../postcss.config.js
        - ../../eslint.config.js
        - ../../index.html

    - name: Login to DockerHub
      become_user: ec2-user
      community.docker.docker_login:
        username: inam101001
        password: "{{ lookup('env', 'DOCKERHUB_TOKEN') }}"
      when: lookup('env', 'DOCKERHUB_TOKEN') != ''

    - name: Stop existing containers
      become_user: ec2-user
      command: docker-compose down
      args:
        chdir: "{{ app_dir }}"
      ignore_errors: yes

    - name: Pull latest images
      become_user: ec2-user
      command: docker-compose pull
      args:
        chdir: "{{ app_dir }}"
      ignore_errors: yes

    - name: Build and start containers
      become_user: ec2-user
      command: docker-compose up -d --build
      args:
        chdir: "{{ app_dir }}"

    - name: Wait for containers to be healthy
      wait_for:
        port: 80
        host: localhost
        delay: 10
        timeout: 60

    - name: Show running containers
      become_user: ec2-user
      command: docker ps
      args:
        chdir: "{{ app_dir }}"
      register: docker_ps

    - name: Display running containers
      debug:
        var: docker_ps.stdout_lines