@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: black;
  font-family: "Cascadia Code", monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #00ff99;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00cc7a;
}
